
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #000;
  background-color: #DEDEDE;
  background-image: url("../images/flat-mountains.svg");
  background-attachment: fixed;
  background-size: cover;
}

.text-container {
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container h1{
  margin: 0;
  font-size: 100px;
  color: rgba(225,225,225, .01);
  background-image: url("../images/beach.jpg");
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
.plane{
    animation: plane-animate 100s infinite;
    position: relative;
}
@keyframes plane-animate {
    0% {
	left: 0;
    }
    100%{
	left: 100%;
    }
}
  @keyframes animate {
    0%, 100% {
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }   
}
